.row {
	border-style: solid;
	border-width: 1px;
	padding: 1.5rem;
	border-radius: 0.625rem;
	margin-bottom: 3rem;
	border: 0px #d4d4d4 solid;
	background-color: #fff;
	box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px, rgb(0 0 0 / 5%) 0px 4px 6px -2px;
}

.column {
	float: left;
	width: 46%;
	height: 300px;
	text-align: left;
} 

.h1 {
    
}
.image {
    border: 10px;
}