li a:hover {
  background-color: #111;
}

.left {
  padding: 20;
  width: 50%;
  display: block;
  float: left;
}

.right {
  padding: 20;
  width: 50%;
  display: block;
  float: right;
}

.column {
  float: left;
}

td,
th {
  text-align: left;
  padding: 5px;
}

.editRow {
  border-style: solid;
  border-width: 1px;
  padding: 1.5rem;
  border-radius: 0.625rem;
  margin-bottom: 3rem;
  border: 0px #d4d4d4 solid;
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px,
    rgb(0 0 0 / 5%) 0px 4px 6px -2px;
  display: flex;
  justify-content: space-between;
}

.profileLabelSpan {
  height: 3rem;
  width: 40rem;
  display: inline-block;
}

.profileLabelSpan > label {
  width: 10rem;
}

.profileLabelSpan > textarea {
  margin-top: 2.2rem;
  font-family: "MS Shell Dlg 2";
  font-size: 13.3333px;
}

.personalInformationDiv {
  display: flex;
  flex-direction: row;
  position: relative;
  border-style: solid;
  padding: 1.5rem;
  border-radius: 0.625rem;
  margin-bottom: 3rem;
  border: 0px #d4d4d4 solid;
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px,
    rgb(0 0 0 / 5%) 0px 4px 6px -2px;
}

.personalInfoH3 {
  position: absolute;
  display: initial;
}

#personalInfoInputs {
  height: 30rem;
  width: 40%;
}

.myForm {
  width: 90%;
  margin: 0;
}

#selectDiv {
  height: 30rem;
  width: 40%;
  margin-left: 100px;
}

.selectSpan {
  height: 3rem;
  width: 40rem;
  display: inline-block;
  background-color: unset;
}

#selfieUpload {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  position: absolute;
  background-color: navy;
  right: 5rem;
  top: 5rem;
}

.selectSpan > select {
  padding: 5px;
  width: 14.5rem;
}

.saveBtn {
  background-color: #061450;
  width: 150px;
  height: 50px;
  border-radius: 40px;
  border: none;
  font-size: 1rem;
  color: white;
}

.saveBtn:hover {
  background-color: #007aff;
}

.tableDeleteBtn {
  background-color: #061450;
  width: 4rem;
  height: 2rem;
  border-radius: 40px;
  border: none;
  font-size: 0.75rem;
  color: white;
}

.tableDeleteBtn:hover {
  background-color: #500606;
}

.tableSaveBtn {
  background-color: #061450;
  width: 4rem;
  height: 2rem;
  border-radius: 40px;
  border: none;
  font-size: 0.75rem;
  color: white;
}

.tableSaveBtn:hover {
  background-color: #007aff;
}

.ggText {
  color: #303030;
  font-weight: 600;
  padding-bottom: 5px;
  line-height: 1.3;
  margin-bottom: 20px;
  margin-top: 20px;
}

.personalStory {
  border-style: solid;
  border-width: 1px;
  padding: 1.5rem;
  border-radius: 0.625rem;
  margin-bottom: 3rem;
  border: 0px #d4d4d4 solid;
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px,
    rgb(0 0 0 / 5%) 0px 4px 6px -2px;
}

.tableWrap {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

.pInfoDiv {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0.5rem 0rem 2rem 0rem;
}
