#myProgress {
	width: 50%;
	height: 30px;
	background-color: grey;
}

#myBar {
	width: 30%;
	height: 30px;
	background-color: green;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
	background-color: #111;
}

.left {
	padding: 20;
	width: 50%;
	display: block;
	float: left;
}

.right {
	padding: 20;
	width: 50%;
	display: block;
	float: right;
}

.column {
	float: left;
	/* width: 33.33%; */
}

/* Clear floats after the columns */
/* .row:after {
	content: "";
	display: table;
	clear: both;
} */
td,
th {
	text-align: left;
	padding: 5px;
}

.editRow {
	border-style: solid;
	border-width: 1px;
	padding: 1.5rem;
	border-radius: 0.625rem;
	margin-bottom: 3rem;
	border: 0px #d4d4d4 solid;
	background-color: #fff;
	box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px, rgb(0 0 0 / 5%) 0px 4px 6px -2px;
	display: grid;
	grid-template-columns: 300px 300px auto 200px;
}

.profileLabelSpan {
	height: 3rem;
	width: 40rem;
	display: inline-block;
}

.profileLabelSpan > label {
	width: 10rem;
}

.personalInformationDiv {
	display: flex;
	flex-direction: row;
	position: relative;
	border-style: solid;
	border-width: 1px;
	padding: 1.5rem;
	border-radius: 0.625rem;
	margin-bottom: 3rem;
	border: 0px #d4d4d4 solid;
	background-color: #fff;
	box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px, rgb(0 0 0 / 5%) 0px 4px 6px -2px;
}

.personalInfoH3 {
	position: absolute;
	display: initial;
}

#personalInfoInputs {
	height: 30rem;
	width: 40%;
	margin-top: 3rem;
}

.myForm {
	width: 90%;
	margin: 0;
}

#selectDiv {
	height: 30rem;
	width: 40%;
	margin-top: 3rem;
}

.selectSpan {
	height: 3rem;
	width: 40rem;
	display: inline-block;
}

#selfieUpload {
	width: 15rem;
	height: 15rem;
	border-radius: 50%;
	position: absolute;
	background-color: navy;
	right: 5rem;
	top: 5rem;
}

.selectSpan > select {
	background-color: #d4d4d4;
	padding: 5px;
}

.saveBtn {
	padding: 15px;
}

.ggText {
	color: #303030;
	font-weight: 600;
	padding-bottom: 5px;
	line-height: 1.3;
	margin-bottom: 20px;
	margin-top: 20px;
}

.personalStory {
	border-style: solid;
	border-width: 1px;
	padding: 1.5rem;
	border-radius: 0.625rem;
	margin-bottom: 3rem;
	border: 0px #d4d4d4 solid;
	background-color: #fff;
	box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px, rgb(0 0 0 / 5%) 0px 4px 6px -2px;
}
