#industryPage {
	width: 90%;
	padding-left: 5%;
	padding-right: 5%;
	height: 100%;
}

#spotlight,
#requirements,
#orders,
#trainingInformation,
#pipelineDiv,
#latestNews {
	border: 3px black solid;
	width: 100%;
	/* margin-top: 1rem; */
	padding: 1.5rem;
	margin-bottom: 3rem;
}

#spotlight {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	height: auto;
	border-style: solid;
	border-radius: 0.625rem;
	border: 0px #d4d4d4 solid;
	background-color: #fff;
	box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px, rgb(0 0 0 / 5%) 0px 4px 6px -2px;
}

.landingHeading {
	/* font-size: 1.5rem;
	font-weight: 400; */
	margin-bottom: 0.5rem;
}

#spotlightInfo {
	margin-bottom: 0.5rem;
	font-weight: bolder;
}

#lowerSpan {
	height: 5rem;
	width: 100%;
	/* border: 1px black solid; */
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

#SFGradImg,
#DSGradImg {
	/* border: 3px black solid; */
	height: 95%;
	width: 30%;
	position: relative;
}

#DSGradImg {
	margin-right: 9rem;
}

.profileImage {
	height: 100%;
	width: 15%;
	border: 2px white solid;
	background-color: blue;
	display: inline-block;
	border-radius: 50%;
	position: absolute;
}

#SFGradImg span:nth-of-type(2), #DSGradImg span:nth-of-type(2){
	left: 90px;
	top: 0;
}

#SFGradImg span:nth-of-type(3), #DSGradImg span:nth-of-type(3){
	left: 180px;
	top: 0;
}

#SFGradImg span:nth-of-type(4), #DSGradImg span:nth-of-type(4){
	left: 270px;
	top: 0;
}

#SFGradImg span:nth-of-type(5), #DSGradImg span:nth-of-type(5){
	left: 360px;
	top: 0;
}

.landingPageButton {
	width: 20rem;
	height: 2rem;
	border: 5px gray outset;
	background-color: transparent;
}

#requirements {
	display: grid;
	grid-template-rows: 1fr 3fr;
	grid-template-columns: 1fr 1fr;
	border-style: solid;
	border-radius: 0.625rem;
	border: 0px #d4d4d4 solid;
	background-color: #fff;
	box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px, rgb(0 0 0 / 5%) 0px 4px 6px -2px;
}

#requirements > h2 {
	grid-row: 1/2;
	grid-column: 1/2;
	justify-self: flex-start;
}

#requirements button:nth-child(2) {
	grid-row: 2/3;
	grid-column: 1/2;
	margin-top: 1rem;
}

#requirements button:nth-child(3) {
	grid-row: 2/3;
	grid-column: 2/3;
	margin-top: 1rem;
}

#orders {
	display: grid;
	grid-template-rows: 1fr 1fr 3fr;
	grid-template-columns: 1fr 3fr;
	padding-bottom: 5rem;
	border-style: solid;
	border-radius: 0.625rem;
	border: 0px #d4d4d4 solid;
	background-color: #fff;
	box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px, rgb(0 0 0 / 5%) 0px 4px 6px -2px;
}

#orders > h2:nth-child(1) {
	grid-row: 1/2;
	grid-column: 1/2;
	justify-self: flex-start;
}

#orders > h2:nth-child(2) {
	grid-row: 2/3;
	grid-column: 1/2;
	justify-self: flex-start;
}

#orders > h2:nth-child(4) {
	grid-row: 2/3;
	grid-column: 2/3;
	justify-self: flex-start;
}

#orderSpan {
	grid-row: 3/4;
	grid-column: 1/2;
}

.orderDetails {
	border: 3px black solid;
	height: 12rem;
	width: 15rem;
	margin-right: 1.5rem;
	padding: 0.5rem;
}

/* .orderDetails > p {
	font-weight: 800;
} */

#trainingInformation {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	border-style: solid;
	border-radius: 0.625rem;
	border: 0px #d4d4d4 solid;
	background-color: #fff;
	box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px, rgb(0 0 0 / 5%) 0px 4px 6px -2px;
}

#trainingInformation > h2 {
	margin-bottom: 1rem;
}

#trainingSpan {
	margin-bottom: 1rem;
}

#trainingSpan > p {
	/* font-weight: 500; */
}

#trainingLayoutSpan {
	display: flex;
	flex-direction: row;
}

.pathDiv {
	border: 3px black solid;
	width: 25rem;
	height: 15rem;
	margin-right: 1.5rem;
	padding-top: 0.5rem;
	padding-left: 1rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.landingH3 {
	font-size: 1.5rem;
	font-weight: 300;
	margin-bottom: 1rem;
}

.pathInfoSpan {
	height: fit-content;
	width: fit-content;
	margin-bottom: 1rem;
}

.pathInfoSpan > p {
	text-align: start;
}

.pathDiv > button {
	margin-top: 1rem;
	align-self: center;
}
