.App {
  text-align: left;
}

.App, #root {
  width: 100%;
  height: 100%
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.App p {
    color:rgb(0, 0, 0);
    text-align: center;
    padding: 15px;

}

/* .title h1{
    color:red;
} */
.App h1{
    color:rgb(0, 0, 0);
    text-align: center;
    font-size: 40px;
    padding: 20px;
}
.spotlightInfo {
padding:5px;
display: flex;
    padding: 0px 100px 0px 300px;
    justify-content: center;
    width: 1400px;
     height: 0px;
     margin-left: auto;
    margin-right: auto;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    font-stretch: ultra-condensed;

}

.App spotlightInfo {
    width: 1400px;
    height: 400px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}